@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Qunique';
  src: local("Quinquefive-ALoRM"),
       url('./font/Quinquefive-ALoRM.ttf') format('truetype');
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

.App {
  font-family: 'Qunique', sans-serif;
}


@import url(https://www.1001fonts.com/quinquefive-font.html);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');